@charset "utf-8";
/* CSS Document */






/*//////////////////////////////////////////////////////////////////////////////////////*/
/*--------------------------------White Icons------------------------------------------*/
/*//////////////////////////////////////////////////////////////////////////////////////*/

/*Arrows Icons*/

.icon-arrow-up{			background-image:url(../images/icon/arrows/bendedup.png);   		background-size:20px 20px;	background-repeat:no-repeat; background-position:center center;}

.icon-facebook{			background-image:url(../images/icon/social/facebook.png);   		background-size:20px 20px;	background-repeat:no-repeat; background-position:center center;}

.icon-twitter1{			background-image:url(../images/icon/social/twitter.png);   			background-size:20px 20px;	background-repeat:no-repeat; background-position:center center;}














